.two-columns {
  display: flex;
}



.full-view {
  width: 100vw;
  height: 100vh;
}




.configurator-wrapper {
  height: 100vh;
  background: #fff;
  width: 25%;
}


.watch{
  width:400px;
  position:relative;
  margin:0 auto;
}

