@import url(https://shop.swatch.com/fonts/swatch_ct_bold-webfont.svg#swatch_ctbold);


.two-columns {
  display: flex;
  flex-wrap: wrap;
}


.single-item {
  position: absolute;
  width: max-content;
}
